<a href="https://colab.research.google.com/github/sushil1902/RandomForest/blob/main/petrol_consumption_analysis_using_random_forest_Regressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# Loading of Dataset

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/sushil1902/RandomForest/e263d34a501f11c1143b80daab9e61abe27a7996/Petrol%20consumption%20CSV")
df.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [3]:
df.shape

(48, 5)

# The problem here is to predict the petrol consumption (in millions of gallons) in 48 of the US states based on petrol tax (in cents), per capita income (dollars), paved highways (in miles) and the proportion of the population with the driving license.

In [4]:
df.describe()

       Petrol_tax  ...  Petrol_Consumption
count   48.000000  ...           48.000000
mean     7.668333  ...          576.770833
std      0.950770  ...          111.885816
min      5.000000  ...          344.000000
25%      7.000000  ...          509.500000
50%      7.500000  ...          568.500000
75%      8.125000  ...          632.750000
max     10.000000  ...          968.000000

[8 rows x 5 columns]

# Spltting the target variable

In [5]:
x = df.drop('Petrol_Consumption',axis=1)
y = df['Petrol_Consumption']
x.head()

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544

In [6]:
y.head()

0    541
1    524
2    561
3    414
4    410
Name: Petrol_Consumption, dtype: int64

# Train and Test split

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.20,random_state= 0)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(38, 4) (10, 4) (38,) (10,)

In [8]:
x_train.head()

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
11         7.5            5126           14186                         0.525
31         7.0            3333            6594                         0.513
33         7.5            3357            4121                         0.547
27         7.5            3846            9061                         0.579
47         7.0            5002            9794                         0.593

# Scaling of Data using min-max scaler

mean = 0 & std devation = 1

In [9]:
list(x_train.columns)

['Petrol_tax',
 'Average_income',
 'Paved_Highways',
 'Population_Driver_licence(%)']

In [10]:
numericfeatures = ['Petrol_tax',
'Average_income',
'Paved_Highways',
'Population_Driver_licence(%)']
numericfeatures

['Petrol_tax',
 'Average_income',
 'Paved_Highways',
 'Population_Driver_licence(%)']

In [11]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
x_train[numericfeatures] = mms.fit_transform(x_train[numericfeatures])
x_test[numericfeatures] = mms.transform(x_test[numericfeatures])

In [12]:
x_train.head()

    Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
11         0.5        0.892484        0.790687                      0.271062
31         0.4        0.000000        0.348778                      0.227106
33         0.5        0.011946        0.204831                      0.351648
27         0.5        0.255351        0.492375                      0.468864
47         0.4        0.830762        0.535041                      0.520147

In [13]:
x_train.describe()

       Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
count   38.000000       38.000000       38.000000                     38.000000
mean     0.526737        0.490058        0.302921                      0.460285
std      0.204457        0.270843        0.218863                      0.209396
min      0.000000        0.000000        0.000000                      0.000000
25%      0.400000        0.257715        0.126935                      0.329670
50%      0.450000        0.485814        0.240600                      0.439560
75%      0.700000        0.673096        0.435143                      0.555861
max      1.000000        1.000000        1.000000                      1.000000

In [14]:
x_test.describe()

       Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
count   10.000000       10.000000       10.000000                     10.000000
mean     0.560000        0.309209        0.235652                      0.349084
std      0.126491        0.308872        0.121593                      0.156413
min      0.400000       -0.134395       -0.009953                      0.131868
25%      0.450000        0.106147        0.185041                      0.256410
50%      0.600000        0.216775        0.257421                      0.347985
75%      0.600000        0.529617        0.330122                      0.442308
max      0.800000        0.892484        0.366880                      0.641026

# Model apply

# Fitting the model

In [15]:
from sklearn.ensemble import RandomForestRegressor
rtf = RandomForestRegressor(n_estimators = 20,random_state= 0)
rtf.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

# Predicting the model

In [16]:
y_predict_test = rtf.predict(x_test)
y_predict_train = rtf.predict(x_train)

# Evaluation of Metrics

In [17]:
from sklearn.metrics import r2_score , mean_squared_error

# Root Mean Square  error

In [18]:
np.sqrt(mean_squared_error(y_train,y_predict_train))

29.313285114611887

In [19]:
np.sqrt(mean_squared_error(y_test,y_predict_test))

64.89236280179664

In [20]:
r2_score_train = r2_score(y_train,y_predict_train)
r2_score_train

0.9372445764892429

In [21]:
r2_score_test = r2_score(y_test,y_predict_test)
r2_score_test

0.28132743914094194

In [22]:
n_train = x_train.shape[0]
n_train

38

In [23]:
p = len(list(x_train.columns))
p

4

In [24]:
n_test = x_test.shape[0]
n_test

10

In [25]:
adj_r2_score_train = 1-(((1-r2_score_train)*(n_train-1))/(n_train -p -1))
adj_r2_score_test = 1-(((1-r2_score_test)*(n_test-1))/(n_test-p-1))
print(adj_r2_score_train,' ',adj_r2_score_test)

0.929637858487939   -0.2936106095463047

In [26]:
df.shape

(48, 5)

# Model 2

In [27]:
from sklearn.ensemble import RandomForestRegressor
rfr2 = RandomForestRegressor(n_estimators=100,random_state=0)

In [28]:
rfr2.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [29]:
y_pred_test = rfr2.predict(x_test)
y_pred_train = rfr2.predict(x_train)

In [30]:
from sklearn.metrics import r2_score, mean_squared_error

In [31]:
np.sqrt(mean_squared_error(y_train, y_pred_train))

29.90180834172515

In [32]:
np.sqrt(mean_squared_error(y_test, y_pred_test))

60.13685384188301

In [33]:
r2_score_train = r2_score(y_train, y_pred_train)
r2_score_train

0.9346993976301834

In [34]:
r2_score_test = r2_score(y_test, y_pred_test)
r2_score_test

0.382800883702197

In [35]:
n_train = x_train.shape[0]
n_train

38

In [36]:
len(list(x_train.columns))

4

In [37]:
p = len(list(x_train.columns))
p

4

In [38]:
n_test = x_test.shape[0]
n_test

10

In [39]:
n_test = x_test.shape[0]
n_test

10

In [40]:
adj_r2_score_train = 1-(((1-r2_score_train)*(n_train-1)) / (n_train - p - 1))
adj_r2_score_test = 1-(((1-r2_score_test)*(n_test-1)) / (n_test - p - 1))
print(adj_r2_score_train," ",adj_r2_score_test)

0.9267841731005086   -0.1109584093360454